:root>* {

    --md-footer-bg-color: white;
    --md-footer-fg-color: rgb(32, 32, 32);
    --md-footer-bg-color--dark: white;
    --md-footer-fg-color--lighter:  rgb(32, 32, 32);
    --md-footer-fg-color--light:  rgb(32, 32, 32);
    --mdc-typography-headline6-font-family: 'Be Vietnam', sans-serif;
    --mdc-typography-font-family: 'Be Vietnam', sans-serif;
    --md-typeset-a-color: #1e4785;

}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .md-typeset .md-button--primary {
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    border-radius: 4px;
  }

.cardContent {
  padding: 16px;
  font-size: 16px;
  color: rgb(32, 32, 32);
}

.md-typeset h2 {
    font-weight: 500;
}

.mdc-typography--body2 {
    font-weight: 300;
    font-size: 14px;
}

:root {
  --md-primary-fg-color:        #31363F;
  --md-primary-fg-color--light: #76ABAE;
  --md-primary-fg-color--dark:  #222831;
}

img[src*="#fotome"] {
  border-radius:5%;
}
img[src*="#mt01"] {
  border-radius:5%;
  padding: 5px;
  width: 150px;
  border: 2px solid #31363F;
}

img[src*="#md01"] {
  border-radius:5%;
  padding: 5px;
  width: 150px;
  border: 2px solid #31363F;
}

img[src*="#md02"] {
  border-radius:6%;
  padding: 6px;
  width: 180px;
  border: 2px solid #31363F;
}
.md-content__button{
    display: none;
  }

.video-wrapper {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.video-wrapper > iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

img[src*="#mt05"] {
  border-radius:5%;
  padding: 5px;
  width: 200px;
  border: 2px solid #31363F;
}
